
<div class="container mt-5 ">

    <div class="row justify-content-center">
  
      <div class="card-fomulario" style="width: 18rem;">
  
        <div class="card-body">
  
          <h1 class="card-title mb-3">Iniciar sesión</h1>
  
          <div class="col-md-6 text-center fomulario">
  
            <input type="text" class="form-control" placeholder="email@domain.com*" [(ngModel)]="email" (keydown.enter)="autenticar()">
  
            <br>
  
            <input type="password" class="form-control" placeholder="Contraseña*" [(ngModel)]="password" (keydown.enter)="autenticar()">
  
            <br>
  
            <button type="button" class="botoncin" (click)="autenticar()">Iniciar sesión</button>
  
          </div>
  
          <h6 class="card-subtitle mb-2 text-muted mt-4">¿No tienes cuenta? <a routerLink="/registro">Registrate</a></h6>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  